<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
 <!-- Main content -->
    <div class="container">
        <!-- Product Information Section -->
        <div class="row product-container">
            <!-- Product Image -->
            <div class="col-md-6">
                <img src="/Assets/images/ventik.jpeg" alt="Product Image" class="product-image">
            </div>

            <!-- Product Details -->
            <div class="col-md-6 product-details">
                <h1 class="product-title">Вентилятор 2</h1>
                <p class="product-price">2000kzt</p>
                <p class="product-description">
                    This is a detailed description of the product. It explains the features, benefits, and any other important information a customer needs to know before purchasing.
                </p>

                <!-- Product Specifications -->
                <div class="product-specs">
                    <h4>Specifications:</h4>
                    <ul>
                        <li>Weight: 2 kg</li>
                        <li>Dimensions: 30x20x10 cm</li>
                        <li>Material: Stainless Steel</li>
                        <li>Color: Silver</li>
                        <li>Brand: BrandName</li>
                    </ul>
                </div>

             
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
