<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="container">
    <% const products = 
    [
        {
            image: '/Assets/images/silventvent1.jpg',
            title: 'SILENT 4C TURBO D100',
            price: '',
            description: 'Вентилятор осевой вытяжной с двигателем повышеной мощностии с обратным клапаном',
            specs: 
            [
                'Диаметр: 100 мм',
                'Материал: Пластик',
                'Цвет: Белый',
                'Бренд: DICITI'
            ],
            features: 
            [
                'Надежный двигатель с шарикоподшипниками',
                'Прочный корпус из ABS-пластика',
                'Обратный клапан для предотвращения обратной тяги',
                'Удобная световая индикация',
                'Легкий монтаж с помощью саморезов',
                'Защита от перегрева',
                'Защита от воды и пыли (IP24)',
                'Мощный Turbo-двигатель'
            ]
        },
        {
            image: '/Assets/images/silventvent1.jpg',
            title: 'SILENT 4C TURBO D100',
            price: '',
            description: 'Вентилятор осевой вытяжной с двигателем повышеной мощностии с обратным клапаном',
            specs: 
            [
                'Диаметр: 100 мм',
                'Материал: Пластик',
                'Цвет: Белый',
                'Бренд: DICITI'
            ],
            features: 
            [
                'Надежный двигатель с шарикоподшипниками',
                'Прочный корпус из ABS-пластика',
                'Обратный клапан для предотвращения обратной тяги',
                'Удобная световая индикация',
                'Легкий монтаж с помощью саморезов',
                'Защита от перегрева',
                'Защита от воды и пыли (IP24)',
                'Мощный Turbo-двигатель'
            ]
        }
    ]; 
    %>

    <% products.forEach(function(product) { %>
        <%- include('../partials/product.ejs', { product: product }) %>
    <% }); %>
</div>

<%- include('../partials/footer.ejs') %>