<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
    <!-- Main content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Welcome to Your Store</h1>
                <p>Explore our wide range of products below.</p>
            </div>
        </div>

        <!-- Categories section -->
        <div class="row">
            <!-- Example category card -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="/Assets/images/ventik2.jpeg" class="card-img-top" alt="Category Image">
                    <div class="card-body">
                        <h5 class="card-title">Вытечка</h5>
                        <p class="card-text">Brief description of Category 1.</p>
                        <a href="#" class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
              <div class="card">
                  <img src="/Assets/images/ventik3.jpeg" class="card-img-top" alt="Category Image">
                  <div class="card-body">
                      <h5 class="card-title">Трубы</h5>
                      <p class="card-text">Brief description of Category 1.</p>
                      <a href="/product_vent_1" class="btn btn-primary">Explore</a>
                  </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img src="/Assets/images/ventik.jpeg" class="card-img-top" alt="Category Image">
                <div class="card-body">
                    <h5 class="card-title">Вентиляторы</h5>
                    <p class="card-text">Brief description of Category 1.</p>
                    <a href="/ventilators" class="btn btn-primary">Explore</a>
                </div>
            </div>
            </div>
            <!-- Repeat for other categories -->`
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
